# Ignore node_modules & build folders
node_modules
dist

# Ignore prisma folder
prisma

# Ignore config and environment files
.env
*.yaml
*.yml
*.json
docker-compose.yml
Dockerfile

# Ignore logs and package lock
package-lock.json

